@import "./variables.scss";

.footer {
  background-color: $bgGradientLight;
  color: $textLight;
}
.text {
  font-size: 1rem;
  color: $textLight;
  transition: color 0.2s ease-out;
  &:hover {
    color: $linkColor;
  }
}
.social {
  width: 2rem;
  margin: 1rem;
  color: $textDark;
  font-size: 2rem;
  transition: color 0.2s ease-out;
  &:hover {
    color: $linkColor;
  }
}
