@import "./variables.scss";

.footer {
  background-color: $bgGradientLight;
  display: flex;
  flex-wrap: wrap;
  color: $textLight;
}
.item {
  width: 200px;
}
.icon {
  max-width: 2rem;
  width: 100px;
  margin: 10px;
  font-size: 2rem;
}
.text {
  margin: 0;
  font-size: 1rem;
  text-align: center;
  color: $textLight;
  transition: all 0.2s ease-out;
  &:hover {
    color: $linkColor;
  }
}
.links {
  font-size: 0.7rem;
}
.social {
  max-width: 2rem;
  width: 100px;
  margin: 10px;
  font-size: 2rem;
  color: $textDark;
  transition: all 0.2s ease-out;
  &:hover {
    color: $linkColor;
  }
}
