@import "./variables.scss";

.navbar {
  background: linear-gradient($bgGradientLight, $bgGradientDark);
}
.link {
  color: $textLight;
  transition: all 0.3s ease-in;
  &:hover {
    color: $linkColor;
  }
}
.dropdownlink {
  color: $textDark;
  transition: all 0.3s ease-in;
  &:hover {
    color: $textDark;
    background-color: $linkColor;
  }
}
