@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

$mainFont: "Roboto", sans-serif;

//colors

$textDark: #0a0a0a;
$textLight: #eaeaea;
$textGray: #707070;
$linkColor: #ffdc04;
$bgGradientLight: #5a595b;
$bgGradientDark: #282729;
$bgLight: #fefefe;
$bgColor: #1674ce;
